.c-col {
    &__box {
        &2 {
            display: flex;
            align-items: center;
        }

        &info {
            display: flex;
            flex-direction: column;      
        }

        &number {
            display: flex;
            &layer{}
            &text{}
            &boxarrow{}
        }

       
       
        &top {
            display: flex;
        }

        &text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 20px;
        }

        &layer {
            position: absolute;
            top: 20px;
            left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__item {
        &img {
            width: 275px;
            height: 100px;
            position: relative;

            >img {
                border-radius: 20px;
            }
        }

        &number {
            font-size: 4.6rem;
            line-height: 1;
            color: $primary-color;

        }

    }

    &text {
        &desc{}
        &title{}
    }

    &desc{

    }

}
