///*------------------------------------------------------------
//Anchor position
//------------------------------------------------------------*/
.u-text--center {
    text-align: center;
}

//------------------------------------------------------------
// margin
//------------------------------------------------------------

//------------------------------------------------------------
// color
//------------------------------------------------------------
//padding

.u-padsp15 {
    @include sp {
        padding-left: 15px;
        padding-bottom: 15px;
    }
}
