.c-footer {
    &__list {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        @include sp { 
            flex-direction: column;
            align-items: center;        }
    }

    &__menu {
        li {
            line-height: 2;
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__itemlogo {
        display: flex;
        align-items: center;
        @include sp {
            margin-top: 30px;
        }
    }

    &__logo {
        width: 100%;
        display: block;
    }

    &__bg {
        width: 100%;
        min-height: 260px;
        background-image: url("/assets/img/footer/banner-footer.jpg");
        background-size: cover;
        border-radius: 50px;
    }
}
