

.c-uses {
    padding-top: 61px;
    padding-left: 27.5px;
    padding-right: 27.5px;

    &__boxtitle {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: -55px;
    }

    &__boxcenter {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        &small {
            font-size: 2rem;
            line-height: 3;
            letter-spacing: 2px;
            margin-bottom: -13px;
            margin-left: -7px;
        }

        &big {
            font-size: 4.6rem;
            line-height: 1;
            letter-spacing: 9px;
        }
    }

    &__list {
        &top {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &bottom {
            margin-top: 73px;
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__item {
        cursor: pointer;
        display: flex;
        align-items: center;
        position: relative;
        flex: 1;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background-repeat: no-repeat;
            background-size: contain;
        }

        &recommend {
            &::before {
                width: 117px;
                height: 67px;
                background-image: url("./assets/img/appliances/label-recommend.png");
                top: -32px;
                left: -38px;
            }
        }

        &daily {
            &::before {
                width: 154px;
                height: 36px;
                background-image: url("./assets/img/appliances/daily-use.png");
            }

          

            .c-uses {
                &__itemimg {
                    width: 154px;
                    position: relative;
                    padding-top: 52px;
                    display: flex;
                    justify-content: center;
                }
            }
        }

        &bottle {
            .c-uses {
                &__textchild {
                    padding-left: 10px;
                }

                &__itemtext {
                    padding-top: 5px;
                    padding-left: 9px;
                    margin-left: -51px;
                    margin-bottom: -1px;
                    right: 92px;
                }
            }
        }

        &jar {
            top: 61px;
            left: -54px;

            .c-uses {
                &__itemimg {
                    width: 53px;
                    height: 130px;
                }

                &__itemtext {
                    padding-left: 10px;
                    margin-bottom: 27px;
                    left: 50px;
                }

                &__textchild {
                    padding-left: 14px;
                }
            }
           
        }

      

        &iron {
            left: -54px;
            top: 63px;

            .c-uses {
                &__item {
                    &img {
                        width: 83px;
                        height: 130px;
                    }

                    &text {
                        padding-left: 19px;
                        right: -16px;
                        top: 67px;
                    }
                }
                
                &__textchild {
                    padding-left: 17px;
                }
            }
        }
    
        &aerosol {
            right: 50px;

            .c-uses {
                &__textchild {
                    padding-left: 20px;
                }

                &__itemtext {
                    right: -48px;
                    padding-left: 20px;
                    bottom: 60px;
                }
            }
        }
    
        &bulb {
            top: 50px;

            .c-uses {
                &__item {
                    &img {
                        width: 59px;
                        height: 115px;
                    }        
                }
    
                &__textchild {
                    padding-left: 12px;
                }
            }
        }
    
        &face {
            top: 43px;
            left: 9px;
            width: 238px;

            .c-uses {
                &__item {
                    &img {
                        width: 117px;
                        position: relative;
                        padding-top: 50px;
                        display: flex;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        justify-content: center;
                    }
    
            
                }
    
                &__textchild {
                    padding-left: 47px;
                }
            }
        }
    
        &pillow {
            top: 73px;
            left: 95px;
            width: 227px;

            .c-uses {
                &__item {
                    &img {
                        width: 127px;
                        height: 108px;
                    }
                }
    
                &__textchild {
                    padding-right: 12px;
                }
            }
        }
    
        &bath {
            width: 293px;

            .c-uses {
                &__item {
                    &img {
                        width: 162px;
                        height: 115px;
                    }
    
                }
    
                &__textchild {
                    padding-right: 26px;
                }
            }
        }
    
        &box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
        }
    }

 

    &__itemtext {
        line-height: 2;
        letter-spacing: 1.2px;
        position: absolute;
        border-bottom: 1px dashed #636363;
        display: inline-block;
    }

}

