<main class="p-home">
    <!-- <section class="p-uses">
      <div class="p-uses__container">
        <div class="p-uses__boxtitle">
          <p class="p-uses__titlesmall">使い方いろいろ</p>
          <h2 class="p-uses__titlebig">毎日にハッカ油</h2>
        </div>
        <div class="p-uses__list">
          <a class="p-uses__item p-uses__item1">
            <div class="p-uses__boxcenter">
              <div class="p-uses__itemstick">
                <img src="/assets/img/appliances/daily-use.png" alt="daily-use">
              </div>
              <div class="p-uses__itemimg">
                <img src="/assets/img/appliances/bottle.png" alt="ハッカ水" class="img-fluid">
              </div>
            </div>

            <div class="p-uses__itemtext">
              <span class="p-uses__textchild">ハッカ水 </span>
            </div>
          </a>
          <a class="p-uses__item p-uses__item2">
            <div class="p-uses__itemimg">
              <img src="/assets/img/appliances/jar.png" alt="ハッカ水" class="img-fluid">
            </div>
            <div class="p-uses__itemtext">
              <span class="p-uses__textchild">ハッカの虫除けスプレー </span>
            </div>
          </a>
          <a class="p-uses__item p-uses__item3">
            <div class="p-uses__itemimg">
              <img src="/assets/img/appliances/iron.png" alt="ハッカのリネンウォーター" class="img-fluid">
            </div>
            <div class="p-uses__itemtext">
              <span class="p-uses__textchild">ハッカのリネンウォーター </span>
            </div>
          </a>
          <a class="p-uses__item p-uses__item4">
            <div class="p-uses__boxcenter">
              <div class="p-uses__itemstick">
                <img src="/assets/img/appliances/daily-use.png" alt="daily-use">
              </div>
              <div class="p-uses__itemimg">
                <img src="/assets/img/appliances/aerosol.png" alt="ハッカのエアフレッシュナー" class="img-fluid">
              </div>
            </div>

            <div class="p-uses__itemtext">
              <span class="p-uses__textchild">ハッカのエアフレッシュナー </span>
            </div>
          </a>
          <a class="p-uses__item p-uses__item5">
            <div class="p-uses__itemimg">
              <img src="/assets/img/appliances/bulb.png" alt="ハッカの清涼スプレー" class="img-fluid">
            </div>
            <div class="p-uses__itemtext">
              <span class="p-uses__textchild">ハッカの清涼スプレー </span>
            </div>
          </a>
          <a class="p-uses__item p-uses__item6">
            <div class="p-uses__itemstick">
              <img src="/assets/img/appliances/label-recommend.png" alt="recommend">
            </div>
            <div class="p-uses__itemimg">
              <img src="/assets/img/appliances/face-mask.png" alt="ハッカマスク" class="img-fluid">
            </div>
            <div class="p-uses__itemtext">
              <span class="p-uses__textchild">ハッカマスク </span>
            </div>
          </a>
          <a class="p-uses__item p-uses__item7">
            <div class="p-uses__itemimg">
              <img src="/assets/img/appliances/pillow.png" alt="ハッカで安息" class="img-fluid">
            </div>
            <div class="p-uses__itemtext">
              <span class="p-uses__textchild">ハッカで安息 </span>
            </div>
          </a>
          <a class="p-uses__item p-uses__item8">
            <div class="p-uses__itemimg">
              <img src="/assets/img/appliances/bathtub.png" alt="ハッカの入浴剤" class="img-fluid">
            </div>
            <div class="p-uses__itemtext">
              <span class="p-uses__textchild">ハッカの入浴剤 </span>
            </div>
          </a>
        </div>
      </div>
    </section> -->
    <div class="c-point">
      <div class="l-container--big">
        <seciton class="c-point1 ">
          <div class="c-point__boxtitle">
            <div class="c-point__number">
              <img src="assets/img/point/point1/number.png" alt="point-number">
              <hr class="c-line">
              <p class="c-point__slogan">Point</p>
            </div>
            <div class="c-point__info">
              <h2 class="c-point__infotitle">気持ちリフレッシュ</h2>
              <p class="c-point__infodesc">
                鼻や口から入った香りの信号は、視床下部などに直接作用し <br>
                気分をリフレッシュさせてくれます。
              </p>
            </div>
          </div>
          <!-- ANCHOR not c-point -->
          <!-- <div class="c-point">
          <div class="c-point__boxinfo">
            <div class="c-point__boxnumber">
              <img src="./assets/img/q&a/col-1.jpg" alt="img-col" class="img-fluid">
              <div class="c-point__boxlayer">
                <img src="./assets/img/q&a/hakkayu-column.png" alt="number" class="c-point__column">
                <span class="c-point__itemnumber">11</span>
              </div>
    
            </div>
            <div class="c-point__boxtext">
              <p class="c-point__textdesc">風邪をひきやすい冬も安心</p>
              <h3 class="c-point__textitle">
                風邪やインフルエンザシーズンにもハッカ油
              </h3>
    
            </div>
            <p class="c-point__desc">
              風邪をひきやすくなる冬、朝起きたら喉がガラガラなんていうことはありませんか？　実はこれ、夜寝ている間にウイルスが体内で増殖してしまった証拠かもしれません。寒さと乾燥の厳しい冬の風邪は、夜寝ている間に悪化しやすいといわれています。そんな季節に役立つハッカ油の使い方をご紹介します。
            </p>
          </div>
          <div class="c-point__boxarrow">
            <picture>
              <source media="(min-width:767px)" srcset="./assets/img/q&a/arrow/arrow-right.svg">
              <img src="./assets/img/q&a/arrow/arrow-down.svg" alt="arrow-down">
            </picture>
          </div>
        </div> -->
          <div class="l-container">
            <div class="c-point__list">
              <div class="c-point__item">
                <div class="c-point__itemimg">
                  <img src="./assets/img/point/point1/img-1.jpg" alt="" class="img-fluid">
                  <a href="#" class="c-point__itembutton">
                    <img src="./assets/img/button/img-more.png" alt="img-more">
                  </a>
                </div>
                <div class="c-point__itemlayer">
                  <h3>風邪やインフルエンザシーズンにもハッカ油</h3>
                  <p>湿気の多い梅雨の季節の部屋干しにはハッカ油が大活躍！ 優しい自然な香りですっきりさわやか。</p>
                  <a href="#" class="c-btn__primary u-text--center">
                    ハッカ油コラムへ
                  </a>
                </div>

              </div>
              <div class="c-point__item">
                <div class="c-point__itemimg">
                  <img src="./assets/img/point/point1/img-1.jpg" alt="" class="img-fluid">
                  <a href="#" class="c-point__itembutton">
                    <img src="./assets/img/button/img-more.png" alt="img-more">
                  </a>
                </div>
                <div class="c-point__itemlayer">
                  <h3>風邪やインフルエンザシーズンにもハッカ油</h3>
                  <p>湿気の多い梅雨の季節の部屋干しにはハッカ油が大活躍！ 優しい自然な香りですっきりさわやか。</p>
                  <a href="#" class="c-btn__primary u-text--center">
                    ハッカ油コラムへ
                  </a>
                </div>

              </div>
              <div class="c-point__item">
                <div class="c-point__itemimg">
                  <img src="./assets/img/point/point1/img-1.jpg" alt="" class="img-fluid">
                  <a href="#" class="c-point__itembutton">
                    <img src="./assets/img/button/img-more.png" alt="img-more">
                  </a>
                </div>
                <div class="c-point__itemlayer">
                  <h3>風邪やインフルエンザシーズンにもハッカ油</h3>
                  <p>湿気の多い梅雨の季節の部屋干しにはハッカ油が大活躍！ 優しい自然な香りですっきりさわやか。</p>
                  <a href="#" class="c-btn__primary u-text--center">
                    ハッカ油コラムへ
                  </a>
                </div>

              </div>
            </div>
          </div>


        </seciton>
        <section class="p-brand">
          <div class="p-brand__container">
            <h2 class="p-brand__title">
              お買い求めは全国のドラッグストア、またはこちらから
            </h2>
          </div>
          <div class="p-brand__list">
            <% if(typeof brands !='undefined' ) { %>
              <% brands.imgs && brands.imgs.forEach(item=> { %>
                <a class="c-brand__item">
                  <img src="<%= item.img %>" alt="<%= item.alt %>" class="img-fluid">
                </a>
                <% }) %>
                  <% } %>
          </div>
        </section>
      </div>

    </div>
    <section class="c-qa">
      <div class="l-container--small">
        <h2 class="c-qa__title">Q&A</h2>

        <dl class="c-qa__list">
          <% if(typeof medicans !='undefined' ) { %>
            <% medicans.medican && medicans.medican.forEach(item=> { %>
              <div class="c-qa__item">
                <dt class="c-qa__itemtop">
                  <img src="/assets/img/q&a/icon.png" alt="icon">
                  <p class="c-qa__itemtitle">
                    <%= item.title %>
                  </p>
                </dt>
                <dd>
                  <%= item.desc %>
                </dd>
              </div>
              <% }) %>
                <% } %>
        </dl>
      </div>
      <section class="c-medicine">
        <div class="l-container--big">
          <div class="c-medicine__bg">
            <div class="c-medicine__boxtext">
              <p class="c-medicine__titlesmall">日々の暮らしにお役立ち</p>
              <h2 class="c-medicine__titlebig">「ハッカ油コラム」へ</h2>
            </div>
          </div>
        </div>
      </section>
      <section class="c-col">
        <div class="l-container--big">
          <div class="c-col__box2">
            <div class="c-col__boxinfo">
              <div class="c-col__boxtop">
                <div class="c-col__itemimg">
                  <img src="./assets/img/q&a/col-1.jpg" alt="img-col" class="img-fluid">
                  <div class="c-col__boxlayer">
                    <img src="./assets/img/q&a/hakkayu-column.png" alt="number" class="c-point__column">
                    <span class="c-col__itemnumber">11</span>
                  </div>
                </div>
                <div class="c-col__boxtext">
                  <p class="c-col__textdesc">風邪をひきやすい冬も安心</p>
                  <h3 class="c-col__textitle">
                    風邪やインフルエンザシーズンにもハッカ油
                  </h3>
  
                </div>
              </div>
  
              <p class="c-col__desc">
                風邪をひきやすくなる冬、朝起きたら喉がガラガラなんていうことはありませんか？　実はこれ、夜寝ている間にウイルスが体内で増殖してしまった証拠かもしれません。寒さと乾燥の厳しい冬の風邪は、夜寝ている間に悪化しやすいといわれています。そんな季節に役立つハッカ油の使い方をご紹介します。
              </p>
            </div>
            <div class="c-col__boxarrow">
              <picture>
                <source media="(min-width:767px)" srcset="./assets/img/q&a/arrow/arrow-right.svg">
                <img src="./assets/img/q&a/arrow/arrow-down.svg" alt="arrow-down">
              </picture>
            </div>
          </div>
         
        </div>
      </section>
    </section>
  </main>