<section class="c-header">
    <div class="c-header__banner">
        <picture>
            <source media="(max-width:767px)" srcset="./assets/img/banner/banner-mobile.jpg">
            <img src="./assets/img/banner/banner-desktop.jpg" alt="Banner-Desktop">
          </picture>
    </div>
    <ul class="c-header__menulist">
        <li class="c-btn--primary  c-header__menuitem">
            トップ
        </li>
        <li class=" c-btn--primary c-header__menuitem">
            毎日にハッカ油
        </li>
        <li class=" c-btn--primary c-header__menuitem">
            製品情報
        </li>
        <li class=" c-btn--primary c-header__menuitem">
            Q&A
        </li>

        <li class=" c-btn--primary c-header__menuitem">
            ハッカ油コラム
        </li>
        <li class=" c-btn--primary c-header__menuitem">
            ハッカ油ムービー
        </li>
    </ul>

</section>